/*----------------Media Query------------------*/
@media screen and (max-width: 768px) {
    #headSandwichIcone, #headMenu {
    }
    #divBtnProfil * {
        font-size: 1.2em;
    }
    #showFlex {
        flex-direction: column;
    }
    #showImg { order: 2; }
    #showDesc {
        order: 1;
        margin-bottom: 50px;
    }
    #divSearch {
        width: 100%;
    }
    #searchBar {
        height: 50px;
    }
    #templateContainer {
        margin: 0px;
        max-width: 100%;
    }
}

/*Menu petits appareils*/
.navbar-toggler-icon, .navbar-toggler {
    display: none;
}
#headMenu {
    padding-bottom: 25px;
}
.headMenu_title div {
    display: none;
}
.headMenu_title, .headMenu_subTitle {
    cursor: pointer;
}
.headMenu_title:focus,.headMenu_title:hover , .headMenu_subTitle:focus, .headMenu_subTitle:hover {
    text-decoration: none;
    color: red;
}
.headMenu_title {
    font-size: 1.5em;
    margin: 0.5em;
    list-style-type:none;
    color: black;
}
.noPuce {
    list-style-type:none;
    margin: 0.5em 0px 0.5em 0px;
}
.center_title {
    text-align: center;
    margin: 0.5em;
}
.headMenu_subTitle {
    font-size: 0.9em;
    padding-left: 5%;
    color: grey;
}
.drop_title:after {
    content: '\25bc';
}



/*Burger menu*/
.croixBarres
{
    height: 0.65em;
    width: 75px;
    border: 2px red outset;
    border-radius: 5px;
}
.croixBarres
{
    margin-bottom: 1em;
    background-color: red;
    transition: 0.35s;
}
#croixBarre3 { margin: 0px !important; }
#headSandwichIcone
{
    order: 2;
}
#responsiveBtnInsCo {
    margin-top: 1em;
}
#responsiveBtnInsCo * {
    font-size: 1em;
}
