/*--------------Produits-------------------*/
.btnInline {
    display: inline;
}

.aside h5 {
    text-transform: uppercase;
    font-size: 1em;
    color: white;
}

.aside {
    position: fixed;
    text-align: center;
    padding: 1%;
    top: 20vh;
    right: 0px;
    background-color: rgba(250, 5, 5, 0.75);
    box-shadow: -6px 6px 6px rgba(50, 50, 50, 0.5);
}

.aside .product-item {
    cursor: pointer;
}

#asideCroix {
    position: absolute;
    font-size: 2em;
    color: black;
    font-weight: bold;
    top: -20px;
    left: -1em;
    cursor: pointer;
}
.flexCenter {
    display: flex;
    justify-content: center;
}
#divSearch {
    position: relative;
    margin: 25px;
    width: 50%;
    text-align: center;
}
#searchBar {
    width: 100%;
    border-radius: 10px;
}
#searchBar:focus {
    outline: none;
}
#searchBar::placeholder {
    text-align: center;
}
#searchBarCompletion {
    position: absolute;
    display: none;
    z-index: 999;
    border-radius: 10px;
    border: 1px grey solid;
    background-color: white;
    width: 100%;
    text-align: center;
}


/*-----Evenements-----*/
.trollBtn a {
    color: black;
}

.trollBtn a:hover {
    text-decoration: none;
}

.trollBtn {
    position: absolute;
    left: 95px;
    transition: 0.1s;
}

.trollBtn:hover {
    transform: translate3d(100px, 50px, 0px);
}

#showImg img {
    max-height: 400px;
}

#showFlex {
    margin: 25px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#showDesc {
    margin-left: 50px;
    text-align: left;
}

.showDesc h1 {
    text-transform: uppercase;
    margin-bottom: 25px;
}

.sign {
    text-align: left;
    font-style: italic;
    color: grey;
    font-size: small;
}
#imgList {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;

    min-width: 50%;
    height: 102px;
    box-sizing: content-box;
    border: 1px grey solid;
}
#imgList img {
    height: 100px;
    margin: 0px 10px 0px 10px;
}
#showImg {
    position: relative;
}
.eventImgLikes, .ideeLikes {
    cursor: pointer;
    position: absolute;
    right: -10px;
    bottom: 0px;
    padding: 0.15em;
    font-size: 1.5em;
    color: blue;
    background-color: rgba(240, 240, 240, 0.95);
    border-bottom: 2px red solid;
    box-shadow: 5px 1px 10px rgba(50, 50, 50, 0.5);
    transition: 0.25s;
}
.ideeLikes {
    position: absolute;
    bottom: -3em;
}
.eventImgLikes:active, .ideeLikes:active {
    transform: scale(0.8);
}
#countEventImgLikes, .countEventImgLikes {
    color: black;
}

/*-----Commentaires-----*/
#eventComm {
    text-align: left;
}
.comments {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.comments:nth-child(odd) {
    background-color: #FAF0E6;          /*rgb(250, 250, 230)*/
}
.comments:nth-child(even) {
    background-color: rgb(240, 240, 240);
}
.commUser {
    color: grey;
}
.commDate {
    color: silver;
    font-size: 0.75em;
}
.commContent:before {
    content: '> ';
    color: red;
    font-weight: bold;
}
#leaveAcomment {
    border: 1px black solid;
    border-radius: 10px;
    padding: 2%;
}
#newCommContent {
    color: black !important;
}
.rightEditBtn {
    text-align: right;
}


/*----------------Header------------------*/
html {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

header {
    position: relative;
    z-index: 100;
    background-color: rgba(200, 200, 200, 1);
    transition: 0.5s;
    margin-bottom:20px;
}

header .nav-link {
    color: rgba(50, 50, 50, .5) !important;
}

header .nav-link:hover {
    color: rgba(240, 0, 0, 1) !important;
}

.navItems {
    position: relative;
    margin: 0px;
    padding: 0px;
}

header .navItems:after {
    content: '';
    position: absolute;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: rgba(240, 0, 0, 0);
    transition: 0.5s;
}

header .navItems:hover:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgba(240, 0, 0, 1);
}

header:hover, header:focus, header:active {
    transform: translateY(2px);
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.75);
}

header .navbar-brand, header .navbar-brand img {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    height: 75px;
}

#btnInsCo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#btnConnexion, #btnInscription {
    cursor: pointer;
    margin: 0px;
    padding: 5px;
    transition: 0.5s;
}

#btnProfil {
    text-align: center;
    border-radius: 50%;
    font-weight: bold;

    /*color: white !important;
    background-image: linear-gradient(to right bottom, #ff002f, #d00029, #a20022, #760019, #4d010e);
    border: 2px red outset;*/
}

#divBtnProfil:hover:after {
    background-color: rgba(240, 0, 0, 0);
}

#btnProfil::before {
    content: '';
    position: absolute;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: rgba(240, 0, 0, 1);
    transition: 0.5s;
}

#btnProfil:hover::before {
    content: '';
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: rgba(240, 0, 0, 1);
    transition: 0.5s;
}

#btnProfil:active::before {
    content: '';
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: rgba(240, 0, 0, 1);
    transition: 0.5s;
}
.navbar-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


/*------------Carrousel------------*/
.welcome-title {
    text-align: center;
}

.fa-hotjar {
    color: orangered;
}

#carouselid {
    background-color:white;
    overflow: hidden;
}

#carouselid img {
    height: 300px;

    margin: auto;

    /*Ces deux lignes permettent à l'image d'être centrée quand l'image est trop grande pour la fenêtre*/
    /*margin-left: 50%;
    transform: translateX(-50%);*/
}

.carousel-item h2, .carousel-item h5, .carousel-item p {
    text-align:center;
}

.nav-item {
    margin: 0 20px 0 20px;
}

/*--------------PRODUCT--------------*/

.btn-member {
    margin: 0 20px 0 20px;
}

#prix-avg, #msg-tri {
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

#form-tri {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}

#selectTri {
    width: auto;
    margin-right: 10px;
}

#product-cont {
    margin-top: 10px;
}

.product-item, .aside-item {
    background-color: gainsboro;
    margin: 10px 10px 10px 10px;
    width: 200px;
}

.product-header {
    height: 50px;
}

.product-header h1 {
    font-size: 20px;
    text-align: center;
    overflow: hidden;
}

.product-image {
    width: 80%;
    height: 150px;
    overflow: hidden;
    margin: auto;
}

.product-item img, .aside-item img {
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.product-description {
    font-size: 15px;
    text-align: center;
    overflow: hidden;
    height: 70px;
    display: flex;
}

.product-description p {
    margin: auto;
}

.product-price {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.product-price p {
    margin: 5px 5px 5px 5px;
}

#old-price {
    text-decoration: line-through;
    font-size: 15px;
    color: darkslategray;
}

#price {
    font-size: 20px;
    font-weight: bold;
    color: red;
}

textarea {
    resize: none;
}


.s-product-price{
    font-weight: bold;
    font-size:2em;
}

.s-product-image img {
    height:400px;
}


/*-------------FOOTER-------------*/
footer {
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin-top:50px;
    color: white;
    background-color: rgb(240, 0, 0);
}

footer a:hover, footer a:visited, footer a:link, footer a:active {
    color: white;
    text-decoration: none;
}